Source: ros-jade-teleop-twist-joy
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-joy, ros-jade-roscpp, ros-jade-roslaunch, ros-jade-roslint, ros-jade-rostest, ros-jade-sensor-msgs
Homepage: http://wiki.ros.org/teleop_twist_joy
Standards-Version: 3.9.2

Package: ros-jade-teleop-twist-joy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-joy, ros-jade-roscpp, ros-jade-sensor-msgs
Description: Generic joystick teleop for twist robots.
